<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<title>login main</title>
	
</head>

<body>
	<div class="container">
	
		<div th:if="${session.userId == null}"> <!-- 세션에 로그인정보가 없다면 -->
			<a href="/user/signup">회원가입</a>
			<a href="/user/signin/form">로그인</a>
		</div>
		
		<div th:if="${session.userId != null}"> <!-- 세션에 로그인정보가 있다면 -->
			<a href="/user/signout">로그아웃</a>
		</div>
		
	</div>
</body>
</html>