<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>Hello world!</title>
</head>
<body>
	<!--/* <xmp> */-->
	<h2>Hello!</h2>
	
	<form action="/user" method="post">
		<input type="text" name="email" id="email" />
		<input type="text" name="password" id="password"/>
		<input type="text" name="nickname" id="nickname"/>
		<button type="submit" name="button">회원가입</button>
	</form>
	<div>Thymeleaf version</div>
</body>
</html>